name: Collect Wait Times

on:
  # This is the scheduler
  # "*/30 * * * *" means "run this every 30 minutes"
  schedule:
    - cron: "*/30 * * * *"

  # This line lets you run it manually from the "Actions" tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run the script
        # This is where we inject the "Secret" as an environment variable
        env:
          DB_CONNECTION_STRING: ${{ secrets.DB_CONNECTION_STRING }}
        run: python collect.py
